@using Microsoft.AspNetCore.Components.Forms
@using ProcGenFun
@using ProcGenFun.Blazor.Components
@using ProcGenFun.Distributions
@using ProcGenFun.Mazes
@using RandN
@using RandN.Distributions
@using RandN.Extensions
@using Svg

@page "/mazes"

<PageTitle>Mazes</PageTitle>

<Title>Mazes</Title>

<div class="mb-4 flex flex-col md:flex-row gap-x-8 gap-y-3 items-center">
    <div class="flex flex-row gap-2">
        <div>Maze algorithm:</div>

        <select @bind="mazeAlgorithm">
            <option value="@MazeAlgorithm.BinaryTree">Binary Tree</option>
            <option value="@MazeAlgorithm.Sidewinder">Sidewinder</option>
        </select>
    </div>

    <Button Text="Generate Maze" OnClick="GenerateMaze" />
</div>


@if (images != null)
{
    <div class="mt-4">
        <Button Text="&laquo;" OnClick="GoToFirstImage" />
        <Button Text="&lt;" OnClick="GoToPreviousImage" />
        <Button Text="&gt;" OnClick="GoToNextImage" />
        <Button Text="&raquo;" OnClick="GoToLastImage" />

        <span>@(this.selectedImageIndex + 1) of @this.images.Count</span>
    </div>

    <div>@((MarkupString)this.images[this.selectedImageIndex].GetXML())</div>
}

@code {
    private readonly IRng rng = StandardRng.Create();

    private MazeAlgorithm mazeAlgorithm = MazeAlgorithm.BinaryTree;

    private int selectedImageIndex = 0;
    private IReadOnlyList<SvgDocument>? images = null;

    public void GenerateMaze()
    {
        var grid = new Grid(16, 10);

        var imagesDist = this.mazeAlgorithm switch
        {
            MazeAlgorithm.BinaryTree =>
                from history in BinaryTree.HistoryDist(grid)
                select GetImages(
                    history.Initial,
                    HighlightedMazesCreator.FromBinaryTreeHistory(history),
                    history.Final),
            MazeAlgorithm.Sidewinder =>
                from history in Sidewinder.HistoryDist(grid)
                select GetImages(
                    history.Initial,
                    HighlightedMazesCreator.FromSidewinderHistory(history),
                    history.Current),
            _ => throw new ArgumentOutOfRangeException()
        };

        this.images = imagesDist.Sample(this.rng);
        GoToLastImage();
    }

    public void GoToFirstImage()
    {
        this.selectedImageIndex = 0;
    }

    public void GoToPreviousImage()
    {
        if (this.selectedImageIndex > 0)
        {
            this.selectedImageIndex--;
        }
    }

    public void GoToNextImage()
    {
        if (this.selectedImageIndex < this.images!.Count - 1)
        {
            this.selectedImageIndex++;
        }
    }

    public void GoToLastImage()
    {
        this.selectedImageIndex = this.images!.Count - 1;
    }

    private IReadOnlyList<SvgDocument> GetImages(Maze initial, IEnumerable<HighlightedMaze> steps, Maze final)
    {
        var images = new List<SvgDocument>();

        images.Add(MazeImage.CreateSvg(initial, CellColours.Base()));

        foreach (var step in steps)
        {
            images.Add(MazeImage.CreateSvg(step.Maze, step.GetCellColor));
        }

        images.Add(MazeImage.CreateSvg(final, CellColours.Base()));

        return images;
    }

    public enum MazeAlgorithm
    {
        BinaryTree,
        Sidewinder
    }
}
